* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
  --main-colour: #FFE4E1;
  --dark: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/* header */

header {
  background-color: gray;
  padding: 10px;
}

h1 {
  display: inline-block;
  background-color: var(--main-colour);
  font-size: 30px;
  padding: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
}

h1 a {
  text-decoration: none;
  color: var(--dark);
}

.header nav {
  display: flex;
  float: right;
  width: 40%;
  padding: 10px;
  justify-content: space-between;
  font-size: 20px;
  background-color: var(--main-colour);
}

/* applies to all ul on the website */
ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.header nav a {
  color: var(--dark);
  text-decoration: none;
  border-bottom: 1px dashed black;
}

.header nav a:hover {
  background-color: lightgray;
}

/* Hero */
.hero-banner {
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}


.hero-banner h2 {
  text-align: center;
  position: absolute;
  font-size: 20px;
  background-color: var(--main-colour);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--dark);
}

/* page wrapper section */

.page-section {
  display: flex;
  flex-direction: row;
}

.column-left {
  width: 50%;
  text-align: right;
  flex: 1;
  margin: 20px;
}

.column-right {
  width: 50%;
  text-align: left;
  flex: 2;
  margin: 20px;
  border-left: 6px solid black;
  padding: 20px;
}

.about-section img {
  height: 250px;
  float: left;
  padding: 10px;
}

.about-section p {
  display: inline;
}

/* Portfolio container */

#workGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  grid-template-areas:
    "sr      sr"
    "lw      cal"
    "pastel  runbud";
}

#surf-report {
  grid-area: sr;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: 100%;
}

#led-wall {
  grid-area: lw;
  background-image: url("../images/coffee.jpg");
  background-size: 100%;
}

#calculator {
  grid-area: cal;
  background-image: url("../images/mountain.jpg");
  background-size: 100%;
}

#pastel-puzzles {
  grid-area: pastel;
  background-image: url("../images/friends.jpg");
  background-size: 100%;
}

#run-buddy {
  grid-area: runbud;
  background-image: url("../images/laptop.jpg");
  background-size: 100%;
}

.categoryGridArea {
  display: flex;
  align-items: flex-end;
  height: auto;
  width: auto;
  border: 2px white solid;
}

.categoryGridArea h2 {
  display: inline-block;
  background-color: var(--main-colour);
  margin: 5px;
  padding: 5px;
}

#work a {
  text-decoration: none;
  position: absolute;
  height: 100%;
  width: 100%;
}
#work a:hover{
  cursor: pointer
}
/* Contact */

#contact-details {
  display: flex;
  flex: row;
  align-items: center;
  justify-content: space-between;
  color: white;
}

#contact-details a:link {
  color: black;
}

#contact-details ul {
  width: 100%;
}

#contact-details ul li {
  display: inline-block;
  padding: 10px;
}

#contact-details a:hover {
  background-color: lightgrey;
}

/* website responsiveness */

@media only screen and (max-width: 600px) {
  ul {
    display: flex;
    flex-direction: column;
  }

  .page-section {
    flex-direction: column;
  }

  .about-section {
    display: flex;
    flex-direction: column
  }
  .about-section img {
    flex: 1;
  }

  .about-section p {
    flex: 2;
  }

  .column-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-left: none;
  }

  #workGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-template-areas:
      "sr"
      "lw"
      "cal"
      "pastel"  
      "runbud";
  }
  h1 {
    font-size: 25px;
  }
  .header nav {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 0;
  }
}

